@model BiasedSocialMedia.Web.Models.Posts
<div class="post-body my-card my-card-hover">
    <div class="single-post d-flex">
        <div>
            <img src="@Url.Action("Images","Image",new {id=Model.User.ProfilePhotoID})" height="90" width="90" class="profile-photo" />
        </div>
        <div>
            <div><h5 class="mb-0">@Model.User.Name</h5><p class="m-0 text-muted">@@@Model.User.UserName</p></div>
            <p class="max-lines">@Model.PostContent</p>
            <div style="display: flex;">
                <div class="d-flex justify-content-center align-items-center post-like-btn" data-id="@Model.PostID" style="cursor:pointer">
                    <p style="margin-right: 5px">@Model.LikeCount</p><i class="fa fa-thumbs-o-up"></i>
                </div>
                <div class="d-flex justify-content-lg-center align-items-center" style="cursor:pointer">
                    <p style="margin-right: 5px">0</p><span class="fa fa-thumbs-o-down"></span>
                </div>
                <div class="d-flex justify-content-lg-center align-items-center" style="cursor:pointer">
                    <p style="margin-right: 5px">100</p><span class="fa  fa-comment-o"></span>
                </div>
                @*<p style="margin-right: 8px;"><span class="fa fa-ellipsis-v"></span></p>*@
                <p class="single-post-date">@Model.GetPostTimeInString()</p>
            </div>
        </div>
    </div>
</div>
