<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BiasedMedia</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/myCss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="my-loader"><h1>Loading...</h1></div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("BiasedMedia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @{ if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "text-light" });
                }
            }

        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
