@model BiasedSocialMedia.Web.Models.Users
<style>
    .profile-card {
        margin-bottom: 15px;
        font-family: "Poppins", sans-serif;
        padding: 18px 18px 18px 18px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    }

    .profile-edit-fields {
/*        margin-left: 20px;
        padding: 10px;*/
        max-width: 100%;
        width: 100%;
    }

        .profile-edit-fields input {
            max-width: 90%;
            width: 90%;
        }

    input#Gender {
        width: 10%;
    }
</style>

@using (Html.BeginForm("UpdateProfile","Profile",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.ID)
    <div class="profile-card">
        <div class="row">
            <div class="col-sm-2">
                <div class="profile-edit-photo d-flex flex-column justify-content-center align-items-center">
                    <img src="@Url.Action("Images","Image",new {id=Model.ProfilePhotoID})" height="190" width="190" class="profile-photo" />
                    <h5 class="upload-image-label">Edit Profile Photo</h5>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="profile-edit-fields">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                                <span style="color:grey">*Editing username is disabled currently.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })*@
                                <div class="d-flex">
                                    @Html.RadioButtonFor(model => model.Gender, "F") @Html.Label("Female")
                                    @Html.RadioButtonFor(model => model.Gender, "M") @Html.Label("Male")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-sm-8 d-flex justify-content-center align-items-center mt-2">
                            <button type="button" class="btn btn-danger" style="margin-right:5px">Change password</button>
                            <button type="submit" class="btn btn-success" id="update-profile-btn">Update your Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

